In [1]:
import requests
#import pandas as pd
import dotenv as dotenv
import os


# Para generar una barra de proceso en los bucles for
# -----------------------------------------------------------------------
from tqdm import tqdm

# Para trabajar con ficheros
# -----------------------------------------------------------------------
import os
import pandas as pd
import re

* Iniciamos con la Demanda eléctrica

In [2]:
# Vamos a definir las rutas de las carpetas de donde sacamos los archivos y donde queremos almacenar los resutlados después de toda la transformación
ruta_origen = 'C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos_demanda_electrica'
df = pd.DataFrame() #crear df para concatenar
for archivo in (os.listdir(ruta_origen)):
    # ruta_archivo = os.path.join(ruta_origen, archivo)
    df_variante = pd.read_csv(f'C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos_demanda_electrica\\{archivo}', index_col=0)
    #creo uno dentro 
    #leer el csv{archivo}
    nombre_limpio = archivo.split('.csv') #split.csv
    nombre_junto_ano = nombre_limpio[0].split('_')
    nombre = nombre_junto_ano[0]
    fecha = nombre_junto_ano[1]
    df_variante['CCAA'] = nombre
    df_variante['Año'] = fecha
    df = pd.concat([df, df_variante])
    #saconombre
    #sacoaño
    #creo columnas nuevas, 
    #creo data frame

In [3]:
df.info() #conozco mejor mis datos, ubico que no tengo nulos

<class 'pandas.core.frame.DataFrame'>
Index: 684 entries, 0 to 11
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       684 non-null    float64
 1   percentage  684 non-null    int64
 2   datetime    684 non-null    object
 3   COD-CCAA    684 non-null    int64
 4   CCAA        684 non-null    object
 5   Año         684 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 37.4+ KB

In [4]:
df.head()

,value,percentage,datetime,COD-CCAA,CCAA,Año
0,3668893.328,1,2019-01-01T00:00:00.000+01:00,4,Andalucía,2019
1,3152278.091,1,2019-02-01T00:00:00.000+01:00,4,Andalucía,2019
2,3216356.360,1,2019-03-01T00:00:00.000+01:00,4,Andalucía,2019
3,3029639.973,1,2019-04-01T00:00:00.000+02:00,4,Andalucía,2019
4,3154123.467,1,2019-05-01T00:00:00.000+02:00,4,Andalucía,2019

In [5]:
# Convierte la columna a formato datetime
df['datetime'] = pd.to_datetime(df['datetime'], utc= False)
# no tuvo efecto pero sí pude aplicarle acciones de datetime

C:\Users\DELL\AppData\Local\Temp\ipykernel_16740\3752892934.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['datetime'] = pd.to_datetime(df['datetime'], utc= False)

In [6]:
df['datetime'] = df['datetime'].apply(lambda x: pd.to_datetime(x).strftime('%Y-%m')) # doy el formato que quiero

df['Mes'] = df['datetime'].apply(lambda x: pd.to_datetime(x).month) #saco el mes para una nueva columna

In [7]:
df.head()

         value  percentage datetime  COD-CCAA       CCAA   Año  Mes
0  3668893.328           1  2019-01         4  Andalucía  2019    1
1  3152278.091           1  2019-02         4  Andalucía  2019    2
2  3216356.360           1  2019-03         4  Andalucía  2019    3
3  3029639.973           1  2019-04         4  Andalucía  2019    4
4  3154123.467           1  2019-05         4  Andalucía  2019    5

In [8]:
df = df.drop(columns='datetime') # elimino esa columna para tener dos columnas mas claras, mes y año

In [9]:
df.head()

         value  percentage  COD-CCAA       CCAA   Año  Mes
0  3668893.328           1         4  Andalucía  2019    1
1  3152278.091           1         4  Andalucía  2019    2
2  3216356.360           1         4  Andalucía  2019    3
3  3029639.973           1         4  Andalucía  2019    4
4  3154123.467           1         4  Andalucía  2019    5

In [10]:
df['Año'] = df['Año'].astype(int)

In [11]:
df.duplicated().sum()

np.int64(0)

Generación Estructura Renovables

In [12]:
# Vamos a definir las rutas de las carpetas de donde sacamos los archivos y donde queremos almacenar los resutlados después de toda la transformación
ruta_origen_gen = 'C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos_generacion_estructura'
df_generacion = pd.DataFrame() #crear df para concatenar
for archivo in (os.listdir(ruta_origen_gen)):
    ruta_archivo = os.path.join(ruta_origen_gen, archivo)
    df_variante_gen = pd.read_csv(ruta_archivo, index_col=0)
    #creo uno dentro 
    #leer el csv{archivo}
    nombre_limpio_gen = archivo.split('.csv') #split.csv
    # print(nombre_limpio_gen)
    nombre_junto_ano_gen = nombre_limpio_gen[0].split('_')
    nombre_gen = nombre_junto_ano_gen[0]
    # print(nombre_gen)
    fecha_gen = nombre_junto_ano_gen[1]
    # print(fecha_gen)
    df_variante_gen['CCAA'] = nombre_gen
    df_variante_gen['Año'] = fecha_gen
    df_generacion = pd.concat([df_generacion, df_variante_gen])

In [13]:
df_generacion.head()

,value,percentage,datetime,type,COD-CCAA,CCAA,Año
0,25288.605,0.029517,2019-01-01T00:00:00.000+01:00,Hidráulica,4,Andalucía,2019
1,33933.350,0.030779,2019-02-01T00:00:00.000+01:00,Hidráulica,4,Andalucía,2019
2,35913.000,0.029645,2019-03-01T00:00:00.000+01:00,Hidráulica,4,Andalucía,2019
3,44050.848,0.041340,2019-04-01T00:00:00.000+02:00,Hidráulica,4,Andalucía,2019
4,88535.452,0.068497,2019-05-01T00:00:00.000+02:00,Hidráulica,4,Andalucía,2019

value a mwh

In [14]:
df_generacion['Año'].unique()

array(['2019', '2020', '2021'], dtype=object)

In [15]:
df_generacion['datetime'] = df_generacion['datetime'].apply(lambda x: pd.to_datetime(x).strftime('%Y-%m')) #modifico al formato que quiero

In [16]:
df_generacion['Mes'] = df_generacion['datetime'].apply(lambda x: pd.to_datetime(x).month) #creo la columna años

In [17]:
df_generacion.head()

       value  percentage datetime        type  COD-CCAA       CCAA   Año  Mes
0  25288.605    0.029517  2019-01  Hidráulica         4  Andalucía  2019    1
1  33933.350    0.030779  2019-02  Hidráulica         4  Andalucía  2019    2
2  35913.000    0.029645  2019-03  Hidráulica         4  Andalucía  2019    3
3  44050.848    0.041340  2019-04  Hidráulica         4  Andalucía  2019    4
4  88535.452    0.068497  2019-05  Hidráulica         4  Andalucía  2019    5

In [18]:
df_generacion = df_generacion.drop(columns='datetime') # elimino esta columna para ver mejor en las otras 2

In [19]:
df_generacion.info() #confirmo que no tengo nulos

<class 'pandas.core.frame.DataFrame'>
Index: 3557 entries, 0 to 11
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       3557 non-null   float64
 1   percentage  3557 non-null   float64
 2   type        3557 non-null   object
 3   COD-CCAA    3557 non-null   int64
 4   CCAA        3557 non-null   object
 5   Año         3557 non-null   object
 6   Mes         3557 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 222.3+ KB

In [20]:
df_generacion.duplicated().sum() # no tengo duplicados

np.int64(0)

In [21]:
df_generacion[(df_generacion['CCAA'] == 'Andalucía') & (df_generacion['Año'] == '2019') & (df_generacion['Mes'] == 12)]

,value,percentage,type,COD-CCAA,CCAA,Año,Mes
11,33252.448,0.033001,Hidráulica,4,Andalucía,2019,12
11,684672.055,0.679492,Eólica,4,Andalucía,2019,12
11,120605.521,0.119693,Solar fotovoltaica,4,Andalucía,2019,12
11,38142.147,0.037854,Solar térmica,4,Andalucía,2019,12
11,130950.924,0.129960,Otras renovables,4,Andalucía,2019,12
11,1007623.095,1.000000,Generación renovable,4,Andalucía,2019,12

In [22]:
df_generacion.dtypes

value         float64
percentage    float64
type           object
COD-CCAA        int64
CCAA           object
Año            object
Mes             int64
dtype: object

In [23]:
df_generacion['Año'] = df_generacion['Año'].astype(int) #cambio el formato de año

In [24]:
df_generacion = df_generacion.rename(columns={"value": "Energía (MWh)"})

In [25]:
df_generacion = df_generacion.rename(columns={"percentage": "Porcentage de Generación Renovable"})

Ahora voy a crear las tablas asociadas a mis tablas principales.

In [26]:
df_generacion.head()

,Energía (MWh),Porcentage de Generación Renovable,type,COD-CCAA,CCAA,Año,Mes
0,25288.605,0.029517,Hidráulica,4,Andalucía,2019,1
1,33933.350,0.030779,Hidráulica,4,Andalucía,2019,2
2,35913.000,0.029645,Hidráulica,4,Andalucía,2019,3
3,44050.848,0.041340,Hidráulica,4,Andalucía,2019,4
4,88535.452,0.068497,Hidráulica,4,Andalucía,2019,5

In [27]:
df_ccaa = df_generacion[['COD-CCAA', 'CCAA' ]].drop_duplicates().reset_index(drop=True)

In [28]:
df_ccaa

    COD-CCAA                        CCAA
0          4                   Andalucía
1          5                      Aragón
2       8742                    Canarias
3          6                   Cantabria
4          7        Castilla - La Mancha
5          8             Castilla y León
6          9                    Cataluña
7         13         Comunidad de Madrid
8         14  Comunidad Foral de Navarra
9         15        Comunitat Valenciana
10        16                 Extremadura
11        17                     Galicia
12      8743               Illes Balears
13        20                    La Rioja
14      8745                     Melilla
15        10                  País Vasco
16        11      Principado de Asturias
17        21            Región de Murcia

In [29]:
df_generacion.shape

(3557, 7)

In [30]:
df_generacion = df_generacion[df_generacion['type'] != 'Generación renovable'].reset_index(drop=True)
#elimino la generacion renovable porque al final este elemento es la suma de los demas

In [31]:
df_tipo_generacion = df_generacion[['type']].drop_duplicates().reset_index(drop=True).reset_index()
df_tipo_generacion.head(1)

   index        type
0      0  Hidráulica

In [32]:
#df_mergeo_1['Id_Categoria'] = df_mergeo_1['Id_Categoria'].apply(lambda x: x + 1)

In [33]:
df_generacion = df_generacion.drop(columns='CCAA')

In [34]:
df_generacion_mergeo = df_generacion.merge(df_tipo_generacion, how='inner', left_on= 'type', right_on= 'type').drop(columns='type')

In [35]:
df_generacion.head()

,Energía (MWh),Porcentage de Generación Renovable,type,COD-CCAA,Año,Mes
0,25288.605,0.029517,Hidráulica,4,2019,1
1,33933.350,0.030779,Hidráulica,4,2019,2
2,35913.000,0.029645,Hidráulica,4,2019,3
3,44050.848,0.041340,Hidráulica,4,2019,4
4,88535.452,0.068497,Hidráulica,4,2019,5

In [36]:
df_generacion_mergeo

,Energía (MWh),Porcentage de Generación Renovable,COD-CCAA,Año,Mes,index
0,25288.605,0.029517,4,2019,1,0
1,33933.350,0.030779,4,2019,2,0
2,35913.000,0.029645,4,2019,3,0
3,44050.848,0.041340,4,2019,4,0
4,88535.452,0.068497,4,2019,5,0
...,...,...,...,...,...,...
2904,3862.063,0.016348,21,2021,8,4
2905,3315.853,0.015251,21,2021,9,4
2906,3266.095,0.017445,21,2021,10,4
2907,2672.051,0.013830,21,2021,11,4
2908,2955.562,0.017457,21,2021,12,4

In [37]:
df_generacion_mergeo['index'] = df_generacion_mergeo['index'].apply(lambda x: x + 1)

In [38]:
df_tipo_generacion['index'] = df_tipo_generacion['index'].apply(lambda x: x+1)

In [39]:
df_generacion_mergeo.head()

,Energía (MWh),Porcentage de Generación Renovable,COD-CCAA,Año,Mes,index
0,25288.605,0.029517,4,2019,1,1
1,33933.350,0.030779,4,2019,2,1
2,35913.000,0.029645,4,2019,3,1
3,44050.848,0.041340,4,2019,4,1
4,88535.452,0.068497,4,2019,5,1

In [40]:
df_tipo_generacion.head(2)

   index        type
0      1  Hidráulica
1      2      Eólica

In [41]:
df_generacion_mergeo = df_generacion_mergeo.rename(columns={"index": "Tipo de energía"})

In [42]:
df_anio = df_generacion_mergeo[['Año']].drop_duplicates().reset_index(drop=True).reset_index()
# df_tipo_generacion['index'] = df_tipo_generacion['index'].apply(lambda x: x+1)

In [43]:
df_anio['index'] = df_anio['index'].apply(lambda x: x+1)

In [44]:
df_generacion_mergeo.head()

,Energía (MWh),Porcentage de Generación Renovable,COD-CCAA,Año,Mes,Tipo de energía
0,25288.605,0.029517,4,2019,1,1
1,33933.350,0.030779,4,2019,2,1
2,35913.000,0.029645,4,2019,3,1
3,44050.848,0.041340,4,2019,4,1
4,88535.452,0.068497,4,2019,5,1

In [45]:
df_generacion_mergeo.to_csv('C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos\\datos_generacion.csv', index=False)

In [46]:
df_tipo_generacion.columns = ['ID_Tipo_Energia', 'Tipo de energia']

In [47]:
df_tipo_generacion.to_csv('C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos\\df_tipo_generacion.csv', index=False)

In [48]:
df_ccaa.to_csv('C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos\\df_ccaa.csv', index=False)

In [49]:
df.head()

         value  percentage  COD-CCAA       CCAA   Año  Mes
0  3668893.328           1         4  Andalucía  2019    1
1  3152278.091           1         4  Andalucía  2019    2
2  3216356.360           1         4  Andalucía  2019    3
3  3029639.973           1         4  Andalucía  2019    4
4  3154123.467           1         4  Andalucía  2019    5

In [50]:
df = df.rename(columns={'value':'Energía (MWh)', 'percentage': 'Porcentage_Generacion'})

In [51]:
df = df.drop(columns='CCAA')

In [52]:
df.to_csv('C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos\\df_demanda.csv', index=False)