In [1]:

import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\DELL\\Downloads\\Datos_demograficos_final_limpiar_total.csv", sep= ';', encoding='latin-1')

In [3]:
df.shape

(2862, 6)

In [4]:
df.head()

,Provincias,Edad (3 grupos de edad),Españoles/Extranjeros,Sexo,Año,Total
0,TOTAL ESPAÑA,0-15 años,Españoles,Hombres,2021,3.272.369
1,TOTAL ESPAÑA,0-15 años,Españoles,Hombres,2020,3.338.410
2,TOTAL ESPAÑA,0-15 años,Españoles,Hombres,2019,3.386.006
3,TOTAL ESPAÑA,0-15 años,Españoles,Mujeres,2021,3.093.985
4,TOTAL ESPAÑA,0-15 años,Españoles,Mujeres,2020,3.155.541

In [5]:
df['Provincias'].value_counts()

Provincias
TOTAL ESPAÑA                 54
02 Albacete                  54
03 Alicante/Alacant          54
04 Almería                   54
01 Araba/Álava               54
33 Asturias                  54
05 Ávila                     54
06 Badajoz                   54
07 Balears, Illes            54
08 Barcelona                 54
48 Bizkaia                   54
09 Burgos                    54
10 Cáceres                   54
11 Cádiz                     54
39 Cantabria                 54
12 Castellón/Castelló        54
13 Ciudad Real               54
14 Córdoba                   54
15 Coruña, A                 54
16 Cuenca                    54
20 Gipuzkoa                  54
17 Girona                    54
18 Granada                   54
19 Guadalajara               54
21 Huelva                    54
22 Huesca                    54
23 Jaén                      54
24 León                      54
25 Lleida                    54
27 Lugo                      54
28 Madrid                    54
29 Málaga                    54
30 Murcia                    54
31 Navarra                   54
32 Ourense                   54
34 Palencia                  54
35 Palmas, Las               54
36 Pontevedra                54
26 Rioja, La                 54
37 Salamanca                 54
38 Santa Cruz de Tenerife    54
40 Segovia                   54
41 Sevilla                   54
42 Soria                     54
43 Tarragona                 54
44 Teruel                    54
45 Toledo                    54
46 Valencia/València         54
47 Valladolid                54
49 Zamora                    54
50 Zaragoza                  54
51 Ceuta                     54
52 Melilla                   54
Name: count, dtype: int64

In [6]:
df = df[df['Provincias'] != 'TOTAL ESPAÑA'].reset_index(drop=True)
# elimino los valores de TOTAL ESPAÑA, luego reseteo indices para enumerar nuevamente

In [7]:
df.tail()

,Provincias,Edad (3 grupos de edad),Españoles/Extranjeros,Sexo,Año,Total
2803,52 Melilla,65 y más,% Extranjeros,Hombres,2020,"10,86"
2804,52 Melilla,65 y más,% Extranjeros,Hombres,2019,"10,73"
2805,52 Melilla,65 y más,% Extranjeros,Mujeres,2021,"9,55"
2806,52 Melilla,65 y más,% Extranjeros,Mujeres,2020,"9,55"
2807,52 Melilla,65 y más,% Extranjeros,Mujeres,2019,"8,96"

In [8]:
df.shape

(2808, 6)

In [9]:
df.head()

,Provincias,Edad (3 grupos de edad),Españoles/Extranjeros,Sexo,Año,Total
0,02 Albacete,0-15 años,Españoles,Hombres,2021,27.304
1,02 Albacete,0-15 años,Españoles,Hombres,2020,27.979
2,02 Albacete,0-15 años,Españoles,Hombres,2019,28.513
3,02 Albacete,0-15 años,Españoles,Mujeres,2021,25.547
4,02 Albacete,0-15 años,Españoles,Mujeres,2020,25.953

In [10]:
df.nunique()

Provincias                   52
Edad (3 grupos de edad)       3
Españoles/Extranjeros         3
Sexo                          2
Año                           3
Total                      2537
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2808 entries, 0 to 2807
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Provincias               2808 non-null   object
 1   Edad (3 grupos de edad)  2808 non-null   object
 2   Españoles/Extranjeros    2808 non-null   object
 3   Sexo                     2808 non-null   object
 4   Año                      2808 non-null   int64
 5   Total                    2808 non-null   object
dtypes: int64(1), object(5)
memory usage: 131.8+ KB

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
df['Españoles/Extranjeros'].unique()

array(['Españoles', 'Extranjeros', '% Extranjeros'], dtype=object)

In [14]:
df['Provincias'].unique()

array(['02 Albacete', '03 Alicante/Alacant', '04 Almería',
       '01 Araba/Álava', '33 Asturias', '05 Ávila', '06 Badajoz',
       '07 Balears, Illes', '08 Barcelona', '48 Bizkaia', '09 Burgos',
       '10 Cáceres', '11 Cádiz', '39 Cantabria', '12 Castellón/Castelló',
       '13 Ciudad Real', '14 Córdoba', '15 Coruña, A', '16 Cuenca',
       '20 Gipuzkoa', '17 Girona', '18 Granada', '19 Guadalajara',
       '21 Huelva', '22 Huesca', '23 Jaén', '24 León', '25 Lleida',
       '27 Lugo', '28 Madrid', '29 Málaga', '30 Murcia', '31 Navarra',
       '32 Ourense', '34 Palencia', '35 Palmas, Las', '36 Pontevedra',
       '26 Rioja, La', '37 Salamanca', '38 Santa Cruz de Tenerife',
       '40 Segovia', '41 Sevilla', '42 Soria', '43 Tarragona',
       '44 Teruel', '45 Toledo', '46 Valencia/València', '47 Valladolid',
       '49 Zamora', '50 Zaragoza', '51 Ceuta', '52 Melilla'], dtype=object)

In [15]:
df.isna().sum()

Provincias                 0
Edad (3 grupos de edad)    0
Españoles/Extranjeros      0
Sexo                       0
Año                        0
Total                      0
dtype: int64

In [16]:
df.head()

,Provincias,Edad (3 grupos de edad),Españoles/Extranjeros,Sexo,Año,Total
0,02 Albacete,0-15 años,Españoles,Hombres,2021,27.304
1,02 Albacete,0-15 años,Españoles,Hombres,2020,27.979
2,02 Albacete,0-15 años,Españoles,Hombres,2019,28.513
3,02 Albacete,0-15 años,Españoles,Mujeres,2021,25.547
4,02 Albacete,0-15 años,Españoles,Mujeres,2020,25.953

In [17]:
df[['Código', 'Provincia']] = df['Provincias'].str.split(' ', n=1, expand=True)

In [18]:
df = df.drop(columns='Provincias')

In [19]:
df['Año'] = df['Año'].astype(int)

In [20]:
df['Total'] = df['Total'].str.replace('.', '')

In [21]:
df['Total'] = df['Total'].str.replace(',', '.') #hice esto debido a los porcentajes que había

In [22]:
df['Edad (3 grupos de edad)'].unique()
df['Código'].unique()
df['Españoles/Extranjeros'].unique()

array(['Españoles', 'Extranjeros', '% Extranjeros'], dtype=object)

In [23]:
df[df['Españoles/Extranjeros'] == '% Extranjeros']

,Edad (3 grupos de edad),Españoles/Extranjeros,Sexo,Año,Total,Código,Provincia
12,0-15 años,% Extranjeros,Hombres,2021,8.24,02,Albacete
13,0-15 años,% Extranjeros,Hombres,2020,8.04,02,Albacete
14,0-15 años,% Extranjeros,Hombres,2019,7.40,02,Albacete
15,0-15 años,% Extranjeros,Mujeres,2021,8.09,02,Albacete
16,0-15 años,% Extranjeros,Mujeres,2020,7.78,02,Albacete
...,...,...,...,...,...,...,...
2803,65 y más,% Extranjeros,Hombres,2020,10.86,52,Melilla
2804,65 y más,% Extranjeros,Hombres,2019,10.73,52,Melilla
2805,65 y más,% Extranjeros,Mujeres,2021,9.55,52,Melilla
2806,65 y más,% Extranjeros,Mujeres,2020,9.55,52,Melilla
2807,65 y más,% Extranjeros,Mujeres,2019,8.96,52,Melilla

In [24]:
df=df[df["Españoles/Extranjeros"] != f"% Extranjeros"].reset_index(drop=True) #elimino aquellas filas que solo aportan porcentajes y me quedo con los datos concretos

In [25]:
df.shape

(1872, 7)

In [26]:
df['Total'] = df['Total'].astype(int)

In [27]:
df.head(5)

,Edad (3 grupos de edad),Españoles/Extranjeros,Sexo,Año,Total,Código,Provincia
0,0-15 años,Españoles,Hombres,2021,27304,02,Albacete
1,0-15 años,Españoles,Hombres,2020,27979,02,Albacete
2,0-15 años,Españoles,Hombres,2019,28513,02,Albacete
3,0-15 años,Españoles,Mujeres,2021,25547,02,Albacete
4,0-15 años,Españoles,Mujeres,2020,25953,02,Albacete

In [28]:
df_sexo = df['Sexo'].drop_duplicates().reset_index(drop=True).reset_index()

In [29]:
df_sexo

   index     Sexo
0      0  Hombres
1      1  Mujeres

In [30]:
df_provincias = df[['Código', 'Provincia']].drop_duplicates().reset_index(drop=True).reset_index()

In [31]:
df_provincias = df_provincias.drop(columns='index')

In [32]:
df_nac_extran = df['Españoles/Extranjeros'].drop_duplicates().reset_index(drop=True).reset_index()

In [33]:
df_nac_extran

   index Españoles/Extranjeros
0      0             Españoles
1      1           Extranjeros

In [34]:
df_edades = df['Edad (3 grupos de edad)'].drop_duplicates().reset_index(drop=True).reset_index()

In [35]:
df_edades

   index Edad (3 grupos de edad)
0      0               0-15 años
1      1              16-64 años
2      2                65 y más

In [36]:
df_edades['index'] = df_edades['index'].apply(lambda x: x + 1)
df_nac_extran['index'] = df_nac_extran['index'].apply(lambda x: x+1)
df_sexo['index'] = df_sexo['index'].apply(lambda x: x+1)

In [37]:
df_edades.columns= ['ID_Grupo_Edad', 'Grupo de Edad']
df_nac_extran.columns= ['Id_Nacional_Extranjero', 'Nacional/Extranjero']
df_sexo.columns= ['ID_Sexo', 'Sexo']

In [43]:
df_edades.head()

   ID_Grupo_Edad Grupo de Edad
0              1     0-15 años
1              2    16-64 años
2              3      65 y más

In [41]:
df = df.drop(columns='Provincia')

In [42]:
df.columns = ['Grupo de Edad', 'Nacional/Extranjero', 'Sexo', 'Año', 'Total', 'Código Provincia']

In [44]:
df_mergeo = df.merge(df_edades, how='inner', left_on= 'Grupo de Edad', right_on= 'Grupo de Edad').drop(columns='Grupo de Edad')

In [47]:
df_mergeo = df_mergeo.merge(df_nac_extran, how='inner', left_on='Nacional/Extranjero', right_on='Nacional/Extranjero').drop(columns='Nacional/Extranjero')

In [49]:
df_mergeo = df_mergeo.merge(df_sexo, how='inner', left_on='Sexo', right_on='Sexo').drop(columns='Sexo')

In [75]:
df_mergeo.head()

,Año,Total,Código Provincia,ID_Grupo_Edad,Id_Nacional_Extranjero,ID_Sexo
0,2021,27304,02,1,1,1
1,2020,27979,02,1,1,1
2,2019,28513,02,1,1,1
3,2021,25547,02,1,1,2
4,2020,25953,02,1,1,2

In [76]:
df_mergeo.to_csv('C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos\\datos_demograficos.csv', index=False)

In [77]:
df_anio = df_mergeo['Año'].drop_duplicates().reset_index(drop=True).reset_index()

In [85]:
df_anio.columns = ['ID_Año', 'Año']

In [89]:
df_anio['ID_Año'] = df_anio['ID_Año'].apply(lambda x:x+1)

In [79]:
df_sexo.to_csv('C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos\\df_sexos.csv', index=False)

In [81]:
df_provincias.head()

  Código         Provincia
0     02          Albacete
1     03  Alicante/Alacant
2     04           Almería
3     01       Araba/Álava
4     33          Asturias

In [92]:
# Invertir los valores de la columna 'ID_Año' sin alterar el orden de las filas
df_anio['ID_Año'] = df_anio['ID_Año'][::-1].reset_index(drop=True)

In [82]:
df_edades.to_csv('C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos\\df_edades.csv', index=False)
df_nac_extran.to_csv('C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos\\df_nac_extran.csv', index=False)
df_provincias.to_csv('C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos\\df_provincias.csv', index=False)

In [94]:
df_anio.to_csv('C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos\\df_anio.csv', index=False)