In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv(r'C:\\Users\\DELL\\Downloads\\Datos_PIB_Final.csv', sep= ';', encoding='latin-1')

In [3]:
df.head()

,Provincias,Ramas de actividad,periodo,Total
0,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2021(P),884.324
1,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2020,768.976
2,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2019,791.464
3,02 Albacete,"B_E. Industrias extractivas, industria manufac...",2021(P),1.397.006
4,02 Albacete,"B_E. Industrias extractivas, industria manufac...",2020,1.194.438

In [4]:
df = df.rename(columns={'periodo': 'Año'})

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Provincias          1560 non-null   object
 1   Ramas de actividad  1560 non-null   object
 2   Año                 1560 non-null   object
 3   Total               1560 non-null   object
dtypes: object(4)
memory usage: 48.9+ KB

In [6]:
df.shape

(1560, 4)

In [7]:
df.head()

,Provincias,Ramas de actividad,Año,Total
0,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2021(P),884.324
1,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2020,768.976
2,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2019,791.464
3,02 Albacete,"B_E. Industrias extractivas, industria manufac...",2021(P),1.397.006
4,02 Albacete,"B_E. Industrias extractivas, industria manufac...",2020,1.194.438

In [8]:
df.isna().sum()

Provincias            0
Ramas de actividad    0
Año                   0
Total                 0
dtype: int64

In [9]:
df.nunique()

Provincias              52
Ramas de actividad      10
Año                      3
Total                 1559
dtype: int64

In [10]:
df['Ramas de actividad'].unique()

array(['A. Agricultura, ganadería, silvicultura y pesca',
       'B_E. Industrias extractivas, industria manufacturera, suministro de energía eléctrica, gas, vapor y aire acondicionado, suministro de agua, actividades de saneamiento, gestión de residuos y descontaminación',
       'C. - De las cuales: Industria manufacturera', 'F. Construcción',
       'G_J. Comercio al por mayor y al por menor, reparación de vehículos de motor y motocicletas, transporte y almacenamiento, hostelería, información y comunicaciones',
       'K_N. Actividades financieras y de seguros, actividades inmobiliarias, actividades profesionales, científicas y técnicas, actividades administrativas y servicios auxiliares',
       'O_U. Administración pública y defensa, seguridad social obligatoria, educación, actividades sanitarias y de servicios sociales, actividades artísticas, recreativas y de entretenimiento, reparación de artículos de uso doméstico y otros servicios',
       'Valor añadido bruto total', 'Impuestos netos sobre los productos',
       'PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO'], dtype=object)

In [11]:
df[df['Ramas de actividad'] == 'PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO']

,Provincias,Ramas de actividad,Año,Total
27,02 Albacete,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2021(P),8.663.814
28,02 Albacete,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2020,7.855.556
29,02 Albacete,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2019,8.475.070
57,03 Alicante/Alacant,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2021(P),37.279.735
58,03 Alicante/Alacant,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2020,33.979.911
...,...,...,...,...
1528,51 Ceuta,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2020,1.655.168
1529,51 Ceuta,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2019,1.774.927
1557,52 Melilla,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2021(P),1.616.543
1558,52 Melilla,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2020,1.514.009
1559,52 Melilla,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2019,1.625.086

In [12]:
df[df['Provincias'] == '02 Albacete']

,Provincias,Ramas de actividad,Año,Total
0,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2021(P),884.324
1,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2020,768.976
2,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2019,791.464
3,02 Albacete,"B_E. Industrias extractivas, industria manufac...",2021(P),1.397.006
4,02 Albacete,"B_E. Industrias extractivas, industria manufac...",2020,1.194.438
5,02 Albacete,"B_E. Industrias extractivas, industria manufac...",2019,1.207.915
6,02 Albacete,C. - De las cuales: Industria manufacturera,2021(P),1.018.831
7,02 Albacete,C. - De las cuales: Industria manufacturera,2020,910.902
8,02 Albacete,C. - De las cuales: Industria manufacturera,2019,918.972
9,02 Albacete,F. Construcción,2021(P),465.911
10,02 Albacete,F. Construcción,2020,415.182
11,02 Albacete,F. Construcción,2019,497.842
12,02 Albacete,"G_J. Comercio al por mayor y al por menor, rep...",2021(P),1.559.382
13,02 Albacete,"G_J. Comercio al por mayor y al por menor, rep...",2020,1.341.669
14,02 Albacete,"G_J. Comercio al por mayor y al por menor, rep...",2019,1.646.811
15,02 Albacete,"K_N. Actividades financieras y de seguros, act...",2021(P),1.440.261
16,02 Albacete,"K_N. Actividades financieras y de seguros, act...",2020,1.392.792
17,02 Albacete,"K_N. Actividades financieras y de seguros, act...",2019,1.389.258
18,02 Albacete,"O_U. Administración pública y defensa, segurid...",2021(P),2.091.603
19,02 Albacete,"O_U. Administración pública y defensa, segurid...",2020,2.055.063
20,02 Albacete,"O_U. Administración pública y defensa, segurid...",2019,2.153.181
21,02 Albacete,Valor añadido bruto total,2021(P),7.838.487
22,02 Albacete,Valor añadido bruto total,2020,7.168.120
23,02 Albacete,Valor añadido bruto total,2019,7.686.471
24,02 Albacete,Impuestos netos sobre los productos,2021(P),825.327
25,02 Albacete,Impuestos netos sobre los productos,2020,687.436
26,02 Albacete,Impuestos netos sobre los productos,2019,788.599
27,02 Albacete,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2021(P),8.663.814
28,02 Albacete,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2020,7.855.556
29,02 Albacete,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2019,8.475.070

In [13]:
df['Provincias'].str.split(' ')

0       [02, Albacete]
1       [02, Albacete]
2       [02, Albacete]
3       [02, Albacete]
4       [02, Albacete]
             ...
1555     [52, Melilla]
1556     [52, Melilla]
1557     [52, Melilla]
1558     [52, Melilla]
1559     [52, Melilla]
Name: Provincias, Length: 1560, dtype: object

In [14]:
# Divide la columna 'Provincias' en dos nuevas columnas
df[['Código', 'Provincia']] = df['Provincias'].str.split(' ', n=1, expand=True)

In [15]:
df.head()

,Provincias,Ramas de actividad,Año,Total,Código,Provincia
0,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2021(P),884.324,02,Albacete
1,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2020,768.976,02,Albacete
2,02 Albacete,"A. Agricultura, ganadería, silvicultura y pesca",2019,791.464,02,Albacete
3,02 Albacete,"B_E. Industrias extractivas, industria manufac...",2021(P),1.397.006,02,Albacete
4,02 Albacete,"B_E. Industrias extractivas, industria manufac...",2020,1.194.438,02,Albacete

In [16]:
df = df.drop(columns='Provincias')

In [17]:
df.head() # me quedo con las provincias y sus códigos

,Ramas de actividad,Año,Total,Código,Provincia
0,"A. Agricultura, ganadería, silvicultura y pesca",2021(P),884.324,02,Albacete
1,"A. Agricultura, ganadería, silvicultura y pesca",2020,768.976,02,Albacete
2,"A. Agricultura, ganadería, silvicultura y pesca",2019,791.464,02,Albacete
3,"B_E. Industrias extractivas, industria manufac...",2021(P),1.397.006,02,Albacete
4,"B_E. Industrias extractivas, industria manufac...",2020,1.194.438,02,Albacete

In [18]:
df['Año'] = df['Año'].str.replace('(P)', '') #limpio los años

In [19]:
df.head()

,Ramas de actividad,Año,Total,Código,Provincia
0,"A. Agricultura, ganadería, silvicultura y pesca",2021,884.324,02,Albacete
1,"A. Agricultura, ganadería, silvicultura y pesca",2020,768.976,02,Albacete
2,"A. Agricultura, ganadería, silvicultura y pesca",2019,791.464,02,Albacete
3,"B_E. Industrias extractivas, industria manufac...",2021,1.397.006,02,Albacete
4,"B_E. Industrias extractivas, industria manufac...",2020,1.194.438,02,Albacete

In [20]:
df[['Cod', 'Ramas de actividad']] = df['Ramas de actividad'].str.split(' ', n=1, expand=True) #divido y luego elimino esta columna de Cod

In [21]:
df = df.drop(columns='Cod')

In [22]:
df.dtypes

Ramas de actividad    object
Año                   object
Total                 object
Código                object
Provincia             object
dtype: object

In [23]:
df['Total'] = df['Total'].str.replace('.', '').astype(int)

In [24]:
df['Código'] = df['Código'].astype(int)

In [25]:
df.dtypes

Ramas de actividad    object
Año                   object
Total                  int64
Código                 int64
Provincia             object
dtype: object

In [26]:
df.head()

,Ramas de actividad,Año,Total,Código,Provincia
0,"Agricultura, ganadería, silvicultura y pesca",2021,884324,2,Albacete
1,"Agricultura, ganadería, silvicultura y pesca",2020,768976,2,Albacete
2,"Agricultura, ganadería, silvicultura y pesca",2019,791464,2,Albacete
3,"Industrias extractivas, industria manufacturer...",2021,1397006,2,Albacete
4,"Industrias extractivas, industria manufacturer...",2020,1194438,2,Albacete

In [27]:
df['Año'] = df['Año'].astype(int)

In [28]:
df.shape

(1560, 5)

In [29]:
df = df.drop(columns='Provincia')

In [30]:
df.rename(columns={'Código' : 'Código Provincia'})

,Ramas de actividad,Año,Total,Código Provincia
0,"Agricultura, ganadería, silvicultura y pesca",2021,884324,2
1,"Agricultura, ganadería, silvicultura y pesca",2020,768976,2
2,"Agricultura, ganadería, silvicultura y pesca",2019,791464,2
3,"Industrias extractivas, industria manufacturer...",2021,1397006,2
4,"Industrias extractivas, industria manufacturer...",2020,1194438,2
...,...,...,...,...
1555,netos sobre los productos,2020,132490,52
1556,netos sobre los productos,2019,151213,52
1557,INTERIOR BRUTO A PRECIOS DE MERCADO,2021,1616543,52
1558,INTERIOR BRUTO A PRECIOS DE MERCADO,2020,1514009,52
1559,INTERIOR BRUTO A PRECIOS DE MERCADO,2019,1625086,52

In [34]:
df.to_csv('C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos\\datos_PIB.csv', index=False)